  .radio-buttons {
    display: flex;
    justify-content: space-between;
  }
  .toggle-switches {
    display: flex;
    justify-content: space-between;
  }
  
  .form-check {
    margin-right: 141px;
  }
