.sidebar-brand-text1 {
    font-family: cursive;
    font-size: 27px;
  }
.sidebar-brand-text2 {
    font-family: cursive;
    color: rgb(57, 249, 249);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 8px;
    display: inline-block;
    position: relative;
  }
  .radio-buttons {
    display: flex;
    justify-content: space-between;
  }
  .toggle-switches {
    display: flex;
    justify-content: space-between;
  }
  
  .form-check {
    margin-right: 141px;
  }
